# Environment variables
.env

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# Logs & temp files
*.log
*.tmp

# IDE files
.vscode/
.idea/

# OS files
Thumbs.db
Desktop.ini
.DS_Store
